@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Suez+One&display=swap');

*{
	margin: 0;
	padding: 0;
}


body {
	width: 100%;
	heidh: 100%;
}
a {
	color: #fa713e;
	text-decoration: none;
	transition: all.6s ease;
	-o-transition: all.6s ease;
	-moz-transition: al.6s ease;
	-webkit-transition: al.6s ease;
}



a:hover {
	color: #c34f25;
	text-decoration: none;
	transition: all.6s ease;
	-o-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
}

img{
	max-width: 100%;
	height: auto;
	width: auto\9;/* ie8 */
	-o-transition: all.3s ease-out;
	-moz-transition: all.3s ease-out;
	-webkit-transition: all.3s ease-out;
	border-radius: 5px;
}
hr{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin:  1em 0;
	padding: 0;
}
header {
	float: left;
	background-color: #343434;
	width: 99.4%;
	padding: 0.3%;
	border-bottom: 5px solid #59559a;
	position: fixed;
	top: 0;
	opacity: 0.97;
}

header>div#logo>a>img {
	width: 50px;
	height: 50px;
	float: left;
	margin-left: 15%;
}

div.grid>div.a>img{
	padding-top: 10px;
}

header>div#logo>a
{
	color: white;
}

header>div#logo>a>span
{
	font-size: 2.5em;
	margin-left: 10px;
	font-family: 'Suez One', serif;
}
.grid div{
	background-color: #cccccc;
	border: 1px solid #FDFFFF;
	font-size: 18px;
	font-family:  roboto;
	color: white;
	padding: 8px 15px;
}
.grid{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	margin-top: 67px;
}
.grid div:nth-child(1)
{
	height: 620px;
	width: 300px;
}
.grid div:nth-child(2)
{
	width: 800px;
	min-height: 850px;
	height: auto;
	border: none;
}
div.grid>div.name>a:hover{
	  border-bottom: 1px solid #E0E0E0;
	  color: black;
  }
div.grid>div.name>p{
	background-color: #bbbcbc;
	margin-top: 5px;
	border: none;
	border-radius: 10px;
	position: center;
	color: #fa713e;
	font-family: Arial;
	font-size: 40px;

}
div.grid>div.name>div#link{
	margin-right: 20px;
	margin-top: 10px;
	margin-left: 10px;
	float:none;
	min-height: 10px;
	height: auto;
	min-width: 10px;
	width: auto;
	border: none;
	border-bottom: 2px solid #E0E0E0;
}
#link>a
{
	word-wrap: break-word;

}
.grid div:nth-child(3)
{
	margin-left: 12px;
	height: 525px;
	width: 300px;
}
.colors{
	background-color: #9d9e9e;
}
.item{
	max-width: 30%;
	padding: 20px;
	background-color: #9d9e9e;
	text-align: center;
	margin: 0px;
}

.left{float: left;
}
.right{float: right;margin-top: 15px}

footer {

	border-top: 2px solid silver;

}
body{
	display: flex;
	flex-direction: column;
}
.page-wrap:after{
       flex-grow: 1;
}

footer, .page-wrap:after{
	height: 30px;
}


@media (min-width: 950px)
{
	header>div#logo>a>img {
	margin-left: 15%;
}
	#logo
{
	float: left;
	width: 45%;
}
#reg_auth
{
	float: right;
	width: 30%;
}
}

@media(max-width: 949px) and(min-width:525px)
{
	header>div#logo>a>img {
	margin-left: 15%;
}
#logo
{
	float: left;
	width: 45%;
}

#reg_auth
{
	float: right;
	width: 50%;
}
}
@media( max-width: 524px)
{
	header>div#logo>a>img {
	margin-left: 5%;
}
#logo
{
	width: 100%;
}

#reg_auth
{
}
}
#reg_auth>a
{
	color: #000000;
}

#reg_auth>a:hover>div.btn{
	border-bottom: 2px solid rgba(217,91,72,1);
	margin-top: 7px;
}

#reg_auth>a:active>div.btn{
	border-bottom: 0;
	margin-top: 9px;
}

#reg_auth>a>div.btn{
	float: right;
	margin-right: 3%;
	margin-top: 5px;
	border-radius: 5px;
	padding: 5px 9px;
	font-size: 1.2em;
	background-color: rgba(236,101,80,1);
	text-shadow: #454545 0 0 2px;
}


.wrapper{

	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-gap: 1em;
	padding: 50px;
}
 #edit_tov{
	 margin-top: 20px;
 }
 #edit_tov label{
	 position: absolute;
	 font: 15px sans-serif;
	 margin-top: 6px;
	 margin-left: 20px;
	 color: #333333;
 }
.p{
	margin-top: 20px;
	color: #333333;
	word-wrap: break-word;
}
 #edit_tov textarea
 {
	 margin-top: 80px;
	 margin-left: 170px;
	 width: 400px;
	 height: 80px;
	 border: 1px solid #D4d4d4;
 }
#user
{
	color: white;
	font-size: 20px;
	margin-top:  20px;
	margin-bottom: -30px;
}
#user:hover
{
	color: white;
	font-size: 20px;
	margin-top:  20px;
	margin-bottom: -30px;
	text-shadow: 3px 5px 6px #6C9, -1px -1px 2px #D9FFA7;
}
footer>span>a>img{
	float: right;
	margin-right: 10px;
	padding: 10px;
	height: 30px;
	width: 30px;
}