body{
    background-color: #9d9e9e;
}
#block-body{
    width: 1050px;
    margin: 5px auto;
    background-color: white;
    border: 1px solid #E0E0E0;
}
#block-header{
    width: 1050px;
    height: 80px;
    border-bottom: 1px solid #E0E0E0;

}
#block-header1{
    float: left;
    width: 300px;
}
#block-header1 h3{
    font: 20px sans-serif;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}
#block-header1 p{
    margin-left: 15px;
    margin-top: 10px;
}
#block-header1 a{
   font: 15px sans-serif;
    color: black;
}
#block-header2{
    width: 300px;
    float: right;
}
#block-header2 p{
     margin-top: 10px;
     margin-right: 10px;
     font: 13px sans-serif;
 }
#block-header2 a{
    font: 14px sans-serif;
    text-decoration: none;
    color: black;
}
#block-header2 a:hover{
    text-decoration: underline;
}
#block-header2 span{
   border-bottom: 1px dashed black;
}

#left-nav{
    width: 200px;
    height: auto;
    min-height: 200px;
    position: absolute;
}
#left-nav ul{
    margin-top: 10px;
}
#left-nav li{
     margin-left: 10px;
     padding-top: 5px;
     padding-bottom: 5px;
     border-bottom: 1px solid #E0E0E0;
     list-style: none;
}
#left-nav a{
    font: 15px sans-serif;
    text-decoration: none;
    color: black;
}
#left-nav a:hover{
    text-decoration: underline;
}

#block-content{
    width: 747px;
    min-height: 650px;
    height: auto;
    margin-left: 201px;
    border-left: 1px solid #E0E0E0;
}

#user {
    padding-top: 3px ;
    margin-top: 3px;
    margin-left: 10px;
}

#user input{
    margin-left: 680px;
    font-size: 116%;
    margin-right: 10px;
}

#user input:hover {
    background-color: tomato;
}

#user2 #lbl{
    margin-left: 10px;
    font-size: 138%;
}

 #user2 label{
    margin-left: 10px;
    font-size: 138%;

}

 #user2 {
     margin-left: 10px;
     display: block;
     float: left;
     width: auto;
     border-color: rgb(190, 190, 190);
     border-style: solid;
     margin-bottom: 5px;
     margin-top: 5px;
 }

#lbl{
    margin-left: 10px;
    margin-right: 190px;
    font-size: 130%;
}

#q2 label{
    margin-left: 10px;
    font-size: 150%;
}
#q1 form{

}
#q1 #q2{
    display: block;
    min-width: 50px;
    width: auto;
    margin-left: 5px;
    border-color: rgb(190,190,190);
    border-style: solid;
    margin-bottom: 10px;
    margin-top: 10px;
}

#question #dlq{
    margin-left: 10px;
    margin-right: 65%;
    font-size: 116%;
}
#question #dlq:hover {
    background-color: tomato;
}
#question #conf{
    margin-left: 10px;
    font-size: 116%;
}
#question #conf:hover {
    background-color: green;
}

#answer a:link {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}
#answer a {
 color: black;
    cursor: pointer;
}

#answer a:hover {
    color: gray;
}
 #block{
    margin-left: 20px;
    font-size: 120%;
}
 #txt{
     margin-left: 10px;
 }